.modal{
    position: fixed;
    margin:10px;
    top:3%;
    height:85vh;
    width: 98%;
    background-color: whitesmoke;
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, 0.5);
    z-index: 9999;
    opacity: 1;
    transform: translateY(0); 
    transition: .5s ease-in-out;
    border-radius: 2.5px;
    
}

.ativo{
    opacity: 0;
    transform: translateY(-110%); 
}

#fechar{
    position: fixed;
    margin:5px;
    left: 97%;
    font-size: 20px;
    
}