.capapai{
    display: flex;
flex-wrap: wrap;
    /* border:2px solid green; */

}
.capa{
    width: 250px;
    height: 250px;
    border: 2px solid black;
    /* margin-top: 10px;
    margin-left: auto; */
    margin: 10px auto;
    /* margin:5px; */
}