footer{
    background-color: black;
    width: 100%;
    color:white;
    margin-bottom: 0px;    
    line-height: 1.5;
}

h1{
    text-transform: uppercase;
    font-size: 20pt;
}

.blocos{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

.blocos ul li{
    list-style-type: none;
}

.listas{
    padding-top:10px;
}

.icones{
    height: 35px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.icones img{
    width: 50px;
    height:50px;
    padding-left: 5px;
    
}

.parceria img{
width: 100px;
}
.parceria{
    height: 50px;
}


footer p{
    text-align: center;
}

footer h4{
    text-align: center;
}

